# Configurações do Banco de Dados PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=report_user
DATABASE_PASSWORD=report_pass
DATABASE_NAME=report_db

# Configurações do RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE_NAME=analise.events
RABBITMQ_QUEUE_NAME=report-service.reports

# Configurações da Aplicação
SERVICE_NAME=report-service
DEBUG=false
LOG_LEVEL=INFO

# Configurações do NewRelic
NEW_RELIC_USER_KEY=abc
NEW_RELIC_LICENSE_KEY=abc
NEW_RELIC_ACCOUNT_ID=123
NRIA_DISPLAY_NAME=report-service
NRIA_LICENSE_KEY=abc
