# Configurações do Banco de Dados PostgreSQL
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=upload_user
DATABASE_PASSWORD=upload_pass
DATABASE_NAME=upload_db

# Configurações do RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=archlens
RABBITMQ_PASSWORD=archlens_dev
RABBITMQ_EXCHANGE_NAME=analise.events
RABBITMQ_QUEUE_NAME=upload-service.status-updates

# Configurações do S3/MinIO
S3_ENDPOINT_URL=http://localstack:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET_NAME=archlens-diagramas
AWS_REGION=us-east-1

# Configurações da Aplicação
SERVICE_NAME=upload-service
DEBUG=false
LOG_LEVEL=INFO

# Configurações do NewRelic
NEW_RELIC_USER_KEY=abc
NEW_RELIC_LICENSE_KEY=abc
NEW_RELIC_ACCOUNT_ID=123
NRIA_DISPLAY_NAME=upload-service
NRIA_LICENSE_KEY=abc
